.gradient-custom {
  /* fallback for old browsers */
  background: #bcbcbc;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgb(249, 255, 205),
    rgb(176, 196, 231)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(249, 255, 205), rgb(176, 196, 231));
}
